@import url('https://fonts.googleapis.com/css2?family=Headland+One&family=Montserrat:ital,wght@0,500;0,700;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,100&display=swap');


* {   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.container {
    width: 100%;
    height: 150vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.541),transparent),url(../img/bg-blur.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    padding: 0 8%;
    position: relative;
}

.container nav {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
    background: rgba(0,0,0,0.6);
}

.logo {
    width: 120px;
    cursor: pointer;
}

nav ul {
    flex: 1;
    text-align: right;
    padding-right: 30px;   
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    transition: width 0.3s;
}

nav ul li a:hover::after {
    width: 50%;
}



h2 {
    font-size: 40px;
    text-align: center;
    padding: 12px;
    color: transparent;
    -webkit-text-stroke: 1px rgb(251, 255, 0);
    background: url(../img/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back {
    100%{
        background-position: 2000px 0;
    }
}

h3 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin: 3px 0;
}

.about-kunil p {
        color: rgb(5, 5, 5);
        position: absolute;
        font-family: 'Headland One';
        left: 250px;
        font-size: 20px;
        padding: 70px;
        width: calc(72% - 100px);     
}

.mission-kunil h1 {
    font-family: 'Poppins', sans-serif !important;
    color: rgb(255, 0, 0);
    position: absolute;
    left: 400px;
    font-size: 30px;
    padding: 200px;
    width: calc(90% - 100px)
}


.mission-kunil p {
    color: rgb(5, 5, 5);
    font-family: 'Headland One';
    position: absolute;
    left: 170px;
    font-size: 100%;
    padding: 240px;
    width: calc(95% - 100px);
}

marquee {
    width: 100%;
    height: 20px;
}

.selected {
    color: rgb(229, 255, 0);
}

.table {
    width: 700px;
    margin: auto;
    table-layout: fixed;
    text-align: center;
    margin-top: 400px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);  
    padding: 9%;
}
table, th, td {
    border: 1px dotted black;
    border-collapse: collapse;
    padding: 20px;
}
th {
    color: black;
    background: rgb(46, 154, 255);
}
td {
    background: rgba(72, 234, 255, 0.555);
}

h4 {
    color: rgba(255, 0, 0, 0.836);
    font-family: 'Poppins', sans-serif !important;
    font-size: 30px;
    position: relative;
    margin: 45px 44%;
    width: calc(55% - 99px)
}

h6 {
    color: rgba(255, 0, 0, 0.836);
    font-family: 'Poppins', sans-serif !important;
    font-size: 30px;
    position: relative;
    margin: 400px 36%;
    width: calc(55% - 99px)
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.gallery .image span {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.gallery .image {
    width: calc(100% / 4);
    padding: 7px;
}

.gallery .image img {
    width: 100%;
    vertical-align: middle;
    transition: all 0.3s ease;
}

.gallery .image:hover img {
    transform: scale(1.1);
}


.dep-wrapper {
    margin: 50px auto;
    max-width: 1100px;
    
}

.dep-wrapper .items {
    display: flex;
    max-width: 850px;
    width: 100%;
    justify-content: space-between;
}

.dep-wrapper .items a {
    text-decoration: none;
}

.dep-wrapper nav {
    display: flex;
    justify-content: center;
    background: transparent;
}

.dep-wrapper nav .items .item{
    padding: 7px 25px;
    font-size: 18px;
    font-weight: 500;
    color: #007bff;
    border: 2px solid #007bff;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dep-wrapper nav .items .active,
.dep-wrapper nav .items .item:hover {
    color: #fff;
    background: #007bff;
}

.dep-gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 150px;
}

.dep-gallery .image span {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.dep-gallery .image {
    width: calc(100% / 4);
    padding: 7px;
}

.dep-gallery .image img {
    width: 100%;
    vertical-align: middle;
    transition: all 0.3s ease;
}

.dep-gallery .image:hover img {
    transform: scale(1.1);
}

.dep-gallery .image.hide{
    display: none;
  }
  .dep-gallery .image.show{
    animation: animate 0.4s ease;
  }
  @keyframes animate {
    0%{
      transform: scale(0.5);
    }
    100%{
      transform: scale(1);
    }
  }

.address1 h3 {
    font-size: large;
    font-family: 'Poppins', sans-serif !important;
    font-size: 20px;
    color: #ff1e00de;
    font-size: 30px;
}
.address1 p {
    padding: 8px;
    font-style: oblique;
    align-items: center;
    text-align: center;
}

.table-head h1 {
    font-family: 'Poppins', sans-serif !important;
    color: rgb(255, 0, 0);
    position: absolute;
    left: 200px;
    font-size: 30px;
    padding: 350px;
    width: calc(90% - 100px)
}